*{
	margin:0;
	padding:0;  
}
header {
	width :100%;
	margin:0px;
    height: auto;
}
header nav{
	overflow: hidden;
	background: black;
	
}
header nav ul{
	list-style: none;
	

}
header nav ul li{
	float: left;


}
header nav ul li a{
	padding: 10px 20px;
	display: block;
	color: #fff;
	text-decoration:none;
}
header nav ul li a:hover{
	background: gray;
}
aside{
	background:#D8D8D8;
	width: 16%;
	height: 600px;
     border-right-style:inset;
     float: left;
     margin: 0px;
}
article{
	background: #E6E6E6;
	width: 83%;
	height: 600px;
	float: left;
	margin-left: 0%;
}
footer{
	background: red;
	width: 83%;
	height: 50px;
}

aside nav ul li a{
	
	text-decoration:none;
}
aside nav{
	overflow: hidden;
}
aside nav ul{
	list-style: none;
}
.logo{
	width: 50%;
	height:auto;
	margin-left:16%;
	margin-top:16%;
	margin-bottom:15%;


}
.submenu{
	margin-left:25%;
	margin-top:25%;
	margin-bottom:15%;
	color:black;
	text-decoration:none;


}
.menu{
	margin-left:16%;
	margin-top:16%;
	margin-bottom:15%;
    color:blue;
    text-decoration:none;

}
.login{
	width: 35%;
	margin-left:31%;

	background:#424242;
	border-radius: 15px;
	
	
}
.forma{
	width: 90%;
	margin-left:5%;
	margin-top:16%;
	margin-bottom:15%
	border-right-style:inset

}
.select {
  border: 1px solid #ccc;
  width: 140px;
  float: left;
  overflow: hidden;
  background: #fff url("arrowdown.gif") no-repeat 90% center;

}
  .select select {
    padding: 5px 8px;

    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
  }

  .table_prosuction{
 
    width: 60%;
    float: left;
    margin-bottom:4%;
   
  }
  .chart_pro{
  	border: 1px solid black;
  	 width: 35%;
     margin-right:2%;
  	 margin-left:2%;
  	 float: right;


  }
  #profilecont{
 


  }