<!DOCTYPE html>
<html>
<head>
	<title>Imasoft</title>
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="js/sock.js"></script>
	<script type="text/javascript" src="js/codigo.js"></script>  
   <script src="http://localhost:8000/socket.io/socket.io.js">    </script>
</head>
<body>
   <header>
   <nav>
   	<ul>
   	<li><a href="#" id=principal>Principal</a> </li>
   	<li><a href="#" id=usuario>Usuario</a> </li>	
   	<li><a href="#" id=produccion>Produccion</a> </li>
   	<li><a href="#" id=reportes>Reportes </a> </li>
   	<li><a href="#" id=configuracion>Configuaracion </a> </li>
   	<li><a href="#" id=graficos>Graficas</a> </li>			

   	</ul>
   </nav>
	
   </header>
   <section class="wrapper">
   	<section class="main">
   		
   	</section>
   	<aside>
   	<img src="imagenes/Linux_logo.png" class="logo">
   	<div id=menu>

   </div>
   	</aside>
   	<article>
      <div id=arte>

      </div>
   	</article>
   </section>
   <footer> 
   

   </footer>

</body>
</html>