<!DOCTYPE html>
<html>
<head>

	<title>Imasoft</title>
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="js/sock.js"></script>
	<script type="text/javascript" src="js/codigo.js"></script>  
   <script src="http://localhost:8000/socket.io/socket.io.js">    </script>
   <link href="css/metro.css" rel="stylesheet">
    <script src="js/metro.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="css/estilos.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"> 
<script type="text/javascript" charset="utf8" src="js/datatables.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/> 
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/> 
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.min.css"/> 
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css"/> 

   <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="js/altEditor/dataTables.altEditor.free.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>



<script src="js/highstock.js"></script>
<script src="js/exporting.js"></script>
    
</head>
<body>
   <header>

     <div class="app-bar" data-role="appbar">
        <a class="app-bar-element" href="#" id=principal>Principal</a>
        <span class="app-bar-divider"></span>
         <ul class="app-bar-menu">
   	    <li><a href="#" id=usuario>Usuario</a> </li>	
   	    <li><a href="#" id=produccion>Produccion</a> </li>
   	    <li><a href="#" id=reportes>Reportes </a> </li>
   	    <li><a href="#" id=configuracion>Configuaracion </a> </li>
     	<li><a href="#" id=graficos>Graficas</a> </li>
       
    </ul>
    </div>

	
   </header>
   <section class="wrapper">
   	<section class="main">
   		
   	</section>
   	<aside>
   	<img src="imagenes/Linux_logo.png" class="logo">
   	<div id=menu>

   </div>
   	</aside>
   	<article>
      <div id=arte>

      </div>
   	</article>
   </section>
   <footer> 
   

   </footer>

</body>
</html>